@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  min-height: 96px;
}

.nav-logo {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 50px;
}

.nav-logo img {
  width: 100%;
}

nav .nav-btn {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 24px;
}

.nav-btn:hover {
  cursor: pointer;
}

.nav-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.nav-btn:hover::after {
  content: '';
  width: 100%;
}

.start {
  height: calc(100vh - 89px);
  display: flex;
  padding: 2vw;
}

.start-tile {
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-tile img {
  height: 100%;
}

.start-center h1 {
  font-size: 10em;
}

.start-center h2 {
  font-size: 3.5em;
}

.start-header,
.start-tile img {
  transition: 0.7s ease-in-out;
}

.hidden {
  opacity: 0;
}

.about-me-section {
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.about-me h2 {
  text-align: center;
  font-size: 5em;
  font-weight: 900;
  margin-bottom: 50px;
}

.about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 90%;
  max-width: 1800px;
  max-height: 800px;
  border: 10px dotted #000;
}

.about-me-side {
  padding: 0 10px;
  width: 30%;
}

.about-me-img {
  height: 100%;
}

.about-me-img img {
  height: 100%;
}

.my-projects-section {
  min-height: 100vh;
  color: #fff;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-projects-section h2 {
  text-align: center;
  font-size: 5em;
  margin-bottom: 50px;
  position: relative;
}

.projects-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  justify-content: space-evenly;
  align-content: center;
}

.projects-heading::after {
  content: '';
  position: absolute;
  top: 120%;
  left: 50%;
  width: 50%;
  height: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  clip-path: polygon(1% 0, 99% 0, 100% 100%, 0% 100%);
}

.project {
  position: relative;
  width: 30%;
  min-width: 500px;
}

.project img {
  width: 100%;
  display: block;
}

.show-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
  color: black;
  padding: 20px;
}

.show-info:hover {
  opacity: 0.8;
  cursor: pointer;
}

.show-info h3 {
  text-align: center;
  font-size: 3em;
  margin: 20px 0;
}

.my-projects-section p {
  text-align: center;
  margin: 5px 0;
}

.contact-section {
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.contact-tile {
  width: 50%;
  padding: 10vw;
}

.contact-tile h2 {
  font-size: 6em;
  margin: 10px 0;
}

.contact-tile p {
  font-size: 1.5em;
}

#email,
#message {
  width: 100%;
  margin-top: 5px;
  border-radius: 0;
  border: 2px solid #888;
  font-size: 16px;
  padding: 10px;
}

#email:focus,
#message:focus {
  border-radius: 0;
  border-color: #000;
  outline: none;
}

#email {
  height: 30px;
  margin-bottom: 20px;
}

#message {
  height: 250px;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

.send-btn {
  text-align: right;
  position: relative;
}

.send-btn input {
  padding: 10px 30px;
  border-radius: 0;
  margin-top: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.social-media {
  padding: 20px 0;
  font-size: 3em;
}

#form-info {
  font-size: 18px;
  position: absolute;
}

a {
  color: #000;
}

footer {
  padding: 10px 0;
  color: #fff;
}

footer p {
  text-align: center;
  font-weight: 400;
}

.footer-img {
  width: 30px;
  margin: auto;
}

.footer-img img {
  width: 100%;
}

.burger-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  z-index: 100;
  transition: .5s ease-in-out;
}

.burger-btn-close {
  border-color: transparent;
}

.burger-top,
.burger-mid,
.burger-bottom {
  width: 70%;
  height: 2px;
  background-color: #fff;
  transition: .5s ease-in-out;
}

.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transform: translateX(100%);
  transition: .5s ease-in-out;
}

.side-menu-btn {
  color: #fff;
  font-size: 36px;
}

.no-translate {
  transform: translateX(0);
}

.burger-top-close {
  /* transform-origin: 100% 0; */
  transform: translateY(9px) rotate(-45deg);
}

.burger-mid-close {
  opacity: 0;
}

.burger-bottom-close {
  /* transform-origin: 100% 0; */
  transform: translateY(-9px) rotate(45deg);
}

@media (max-width: 1400px) {
  .project {
    min-width: 400px;
  }
}

@media (max-width: 1200px) {
  .start {
    justify-content: space-between;
  }

  .start-tile { 
    width: 40%;
  }
}

@media (max-width: 900px) {
  .start {
    justify-content: center;
    padding: 0 2vw 50px;
  }

  .start-tile {
    width: 100%;
  }

  .start-tile:last-child {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .about-me-section {
    height: auto;
    padding: 10px;
  }

  .about-me {
    flex-direction: column-reverse;
  }

  .about-me-side {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .about-me-img {
    height: 300px;
    padding: 10px;
  }

  .my-projects-section {
    height: auto;
  }

  .projects-container::after {
    display: none;
  }

  .contact-section {
    flex-direction: column;
    height: auto;
  }

  .contact-tile {
    width: 100%;
  }
}

@media (max-height: 500px) {
  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    height: auto;
  }
}
